html {
    background-color: peachpuff
}

nav{
    box-sizing: content-box;
    background-color: black;
    width: 100vw; 
    height: 50px;
    
}
ul{
    display: flex;
    font-size: larger;
    justify-content: space-around;
    
}
 li {
    list-style-type: none;
    font-size: 35px;
}

a{
    text-decoration: none;
    color: white;
}
#name {
    margin-left: 450px;
}
/* HeadShot CSS Code
img {
    height: 300px;
    width: 150px;
    top: 130px;
    position: absolute;
    margin-left: 530px;
}
*/

.apiImages {
    width: 50%;
}

#about {
    position: absolute; 
    top: 430px;
    margin-left: 550px;
}

.about {
    position: absolute;
    top: 465px;
    margin-left: 490px;
    box-shadow: 5px 10px;
    background-color: white;
    border: 2px solid teal;
    color: burlywood;
}

#education {
    position: absolute;
    top: 520px;
    margin-left: 550px;

}

.break {
    margin-left: 70px;
    color: teal;
}

.education {
    position: absolute;
    top: 560px;
    margin-left: 460px;
    box-shadow: 5px 10px;
    background-color: white;
    border: 2px solid teal;
    color: teal;
    height: 50px; 
    width: 310px;
}
#work {
    position: absolute;
    top: 650px;
    margin-left: 535px;
}

#project{
    position: absolute;
    top: 800px;
    margin-left: 530px;
}

#contact{
    position: absolute;
    top: 1000px;
    margin-left: 545px;
}