* { border: 1px solid black;}

html {
    background-color: peachpuff
}

nav{
    box-sizing: content-box;
    background-color: black;
    width: 100vw; 
    height: 80px;
    
}
ul{
    display: flex;
    font-size: larger;
    justify-content: space-around;
    
}
 li {
    list-style-type: none;
    font-size: 35px;
}

a{
    text-decoration: none;
    color: white;
}
#name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* HeadShot CSS Code
img {
    height: 300px;
    width: 150px;
    top: 130px;
    position: absolute;
    margin-left: 530px;
}
*/
/*
.apiImages {
    width: 20%;
    height: 20%;
    flex-direction: flex-end;
    display: flex
}

.API {
    display: flex;
    flex-direction: row;

}
*/
/* temporary for api images */

img{
    width: 50%;
    height: 50%;
}
/* might use these divs to position later
.beginning {
    margin-top: 300px;
    margin-bottom: 300px;
    margin-left: 500px;
}

.beginning2 {
    margin-bottom: 300px;
    margin-left: 500px;
}

.beginning3 {
    margin-bottom: 300px;
}
*/
.aboutHeader {
    /*
    position: absolute; 
    top: 430px;
    */
    margin-left: 575px;
    
}

.about {
    /*
    position: absolute;
    top: 465px;
    */
    margin-left: 400px;
    box-shadow: 5px 10px;
    background-color: white;
    border: 2px solid burlywood;
    color: burlywood;
    margin-bottom: 100px;
    width: 400px;
    line-height: 2; 
}

.educationHeader {
    /*
    margin-top: 100px;
    position: absolute;
    */
    /*
    top: 710px;
    margin-left: 550px;
    */
    font-weight: bold;
}

.break {
    margin-left: 70px;
    color: burlywood;
}

.education {
    /*
    position: absolute;
    top: 825px;
    */
    margin-left: 460px;
    box-shadow: 5px 10px;
    background-color: white;
    border: 2px solid burlywood;
    color: burlywood;
    height: 75px; 
    width: 310px;
    line-height: 2;
}

.workHeader {
    /*
    position: absolute;
    top: 970px;
    margin-left: 535px;
    */
    font-weight: normal;
}

.work {
    /*
    position: absolute;
    top: 1005px;
    */
    margin-left: 400px;
    box-shadow: 5px 10px;
    background-color: white;
    border: 2px solid burlywood;
    color: burlywood;
    margin-bottom: 100px;
    width: 400px;
}

.skillsHeader {
    /*
    position: absolute;
    top: 1250px;
    margin-left: 575px;
    flex-direction: column;
    */
    margin-bottom: 100px;
}

.skills {
    /*
    position: absolute;
    top: 1320px;
    */
    width: 200px;
    /*
    height: 50px;
    */
    /*
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    flex-basis: initial;
    */
}

.htmlLogo, .cssLogo, .jsLogo, .jqueryLogo, .jsonLogo, .pythonLogo {
    flex-flow: row;
    /*
    height: 150px;
    */
   
}

.projectHeader{
    /*
    position: absolute;
    top: 1900px;
    */
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.projectSection {
    /*
    display: grid;
    background-color: #FBF6F3;
    margin: 40px auto;
    grid-template-columns: [left] 1fr [right];
    grid-template-rows: [top] 1fr [middle] 2fr [center] 1fr [bottom];
    */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    border: solid red; 
}

/*
main {
    display: grid;
    background-color: black;
    margin: 40px auto;
    grid-row-start: auto;
    grid-area: main;
    
    grid-template-columns: [left] 1fr [right];
    grid-template-rows: [top] 1fr [middle] 2fr [center] 1fr [bottom];
    
}

.project {
    grid-column: left/right;
    grid-row: right/center;
    width: 100%;
    grid-area:  ;
}

*/

#contact{
    
    margin-left: 545px;
}

.contactSection {
   
    margin-bottom: 400px;
    align-content: flex-end;
    flex-direction: row;

}


@media only screen and (max-width: 600px) {

    html {
        background-color: peachpuff
    }
    
    nav{
        box-sizing: content-box;
        background-color: black;
        width: 100vw; 
        height: 50px;
        
    }
    ul{
        display: flex;
        font-size: larger;
        justify-content: space-around;
        
    }
     li {
        list-style-type: none;
        font-size: 35px;
    }
    
    a{
        text-decoration: none;
        color: white;
    }
    #name {
        margin-left: 200px;
    }
    /* HeadShot CSS Code
    img {
        height: 300px;
        width: 150px;
        top: 130px;
        position: absolute;
        margin-left: 530px;
    }
    */
    /*
    .apiImages {
        width: 20%;
        height: 20%;
        flex-direction: flex-end;
        display: flex
    }
    
    .API {
        display: flex;
        flex-direction: row;
    
    }
    */
    /* temporary for api images */
    
    img{
        width: 20%;
        height: 20%;
    }
    /* might use these divs to position later
    .beginning {
        margin-top: 300px;
        margin-bottom: 300px;
        margin-left: 500px;
    }
    
    .beginning2 {
        margin-bottom: 300px;
        margin-left: 500px;
    }
    
    .beginning3 {
        margin-bottom: 300px;
    }
    */
    #about {
        position: absolute; 
        top: 430px;
        margin-left: 250px;
        
    }
    
    .about {
        position: absolute;
        top: 465px;
        margin-left: 100px;
        box-shadow: 5px 10px;
        background-color: white;
        border: 2px solid burlywood;
        color: burlywood;
        margin-bottom: 100px;
        width: 400px;
        line-height: 2; 
    }
    
    #education {
        margin-top: 100px;
        position: absolute;
        top: 710px;
        margin-left: 250px;
    }
    
    .break {
        margin-left: 70px;
        color: burlywood;
    }
    
    .education {
        position: absolute;
        top: 825px;
        margin-left: 140px;
        box-shadow: 5px 10px;
        background-color: white;
        border: 2px solid burlywood;
        color: burlywood;
        height: 75px; 
        width: 310px;
        line-height: 2;
    }
    
    #work {
        position: absolute;
        top: 970px;
        margin-left: 250px;
    }
    
    .work {
        position: absolute;
        top: 1005px;
        margin-left: 100px;
        box-shadow: 5px 10px;
        background-color: white;
        border: 2px solid burlywood;
        color: burlywood;
        margin-bottom: 100px;
        width: 400px;
    }
    
    #skills {
        position: absolute;
        top: 1250px;
        margin-left: 275px;
    }
    .skills {
        position: absolute;
        top: 1320px;
        margin-left: 150px;
        width: 300px;
        height: 50px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .htmlLogo, .cssLogo, .jsLogo, .jqueryLogo, .jsonLogo, .pythonLogo {
        flex-direction: row;
        height: 150px;
        width: 150px;
    }
    
    #project{
        position: absolute;
        top: 1900px;
        margin-left: 225px;
    }
    
    .projectSection {
        display: flex;
        flex-direction: column;
        /*align-self: flex-end;*/
    }
    /*
    main {
        display: grid;
        background-color: black;
        margin: 40px auto;
        grid-row-start: auto;
        grid-area: main;
        
        grid-template-columns: [left] 1fr [right];
        grid-template-rows: [top] 1fr [middle] 2fr [center] 1fr [bottom];
        
    }
    
    .project {
        grid-column: left/right;
        grid-row: right/center;
        width: 100%;
        grid-area:  ;
    }
    
    */

    #contact{
        position: absolute;
        top: 2550px;
        margin-left: 230px;
    }

    .contactSection {
        position: absolute;
        top: 2600px;
        margin-bottom: 400px;
    
    }
}